<!DOCTYPE html>
<html>
<head>
    <title>Quiz Game</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Quiz Game</h1>
        <div class="quiz">
            <div class="question">
                <h2>Question 1:</h2>
                <p><%= data.sentence %></p>
            </div>
            <div class="options">
                <label>
                    <input type="radio" name="option" value="<%= data.language_options[0] %>">
                    <div class="option-box">
                        <span id = "0">A. <%= data.language_options[0] %></span>
                    </div>
                </label>
                <label>
                    <input type="radio" name="option" value="<%= data.language_options[1] %>">
                    <div class="option-box">
                        <span id = "1">B. <%= data.language_options[1] %></span>
                    </div>
                </label>
                <label>
                    <input type="radio" name="option" value="<%= data.language_options[2] %>">
                    <div class="option-box">
                        <span id = "2">C. <%= data.language_options[2] %></span>
                    </div>
                </label>
                <label>
                    <input type="radio" name="option" value="<%= data.language_options[3] %>">
                    <div class="option-box">
                        <span id = "3">D. <%= data.language_options[3] %></span>
                    </div>
                </label>
            </div>
<<<<<<< HEAD
            <button class="next-btn" onclick="nextBtn('<%=data.correct_language%>')">Next</button>
=======
            
            <button class="next-btn" onclick="checkBtn('<%= data.correct_language %>')">Check</button>
            <button class="next-btn" onclick="nextBtn()">Next</button>

    
            <div class="popup popup_cor">
                <img src="https://static.vecteezy.com/system/resources/previews/010/152/358/original/tick-icon-sign-symbol-design-free-png.png">
                <h2>Correct!</h2>
                <button type="button" onclick="closePopup()">OK</button>
            </div>

            <div class="popup popup_incor">
                <img src="https://www.freeiconspng.com/thumbs/error-icon/error-icon-4.png">
                <h2>Incorrect!</h2>
                <button type="button" onclick="closePopup()">OK</button>
            </div>

            
>>>>>>> 650e76823b836422e3fd0f55e866d7cd441c7d5e

            <script>
                function checkBtn(correct_language) {
                    
                    var selectedOption = document.querySelector('input[name="option"]:checked');
                    console.log(selectedOption)
                    
                    console.log(correct_language);

                    if (selectedOption && selectedOption.value == correct_language) {
                        document.querySelector('.popup_cor').style.display = 'block';
                    } else {
                        document.querySelector('.popup_incor').style.display = 'block';
                    }
                }

                function closePopup() {
                    document.querySelector('.popup_cor').style.display = 'none';
                    document.querySelector('.popup_incor').style.display = 'none';
                }
            </script>
        </div>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>
