<!DOCTYPE html>
<html>
<head>
    <title>Quiz Game</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Quiz Game</h1>
        <div class="quiz">
            <div class="question">
                <h2>Question 1:</h2>
                <p><%= data.sentence %></p>
            </div>
            <div class="options">
                <label>
                    <input type="radio" name="option" value="a">
                    <div class="option-box">
                        <span id = "0">A. <%= data.language_options[0] %></span>
                    </div>
                </label>
                <label>
                    <input type="radio" name="option" value="b">
                    <div class="option-box">
                        <span id = "1">B. <%= data.language_options[1] %></span>
                    </div>
                </label>
                <label>
                    <input type="radio" name="option" value="c">
                    <div class="option-box">
                        <span id = "2">C. <%= data.language_options[2] %></span>
                    </div>
                </label>
                <label>
                    <input type="radio" name="option" value="d">
                    <div class="option-box">
                        <span id = "3">D. <%= data.language_options[3] %></span>
                    </div>
                </label>
            </div>
            <button class="next-btn" onclick="<%= data.correct_language %>">Next</button>

            <script>
                function nextBtn(correct_language) {

                    var selectedOption = document.querySelector('input[name="option"]:checked');
                    
                    console.log(correct_language);

                    if (selectedOption && selectedOption.value == correct_language) {
                        alert("Correct!");
                    } else {
                        alert("Incorrect!");
                    }
                }
            </script>
        </div>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>
